@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.btn{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    background: #E55473;
    border-radius: 8px;
    width: 91px;
}
.background{
    width: 1920px;
    background: rgba(229, 84, 115, 0.10);
}
.container{
    width: 1440px;
    margin: 0 auto;
    display: flex;
}
.container .head-text-part{
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 197px 0 147px 0 ;

}
.container .head-text-part h1{
    color: #272727;
    font-family: lato, sans-serif;
    font-size: 80px;
    font-weight: 800;
}
.container .head-text-part p{
    font-family: lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.68);
    text-align: justify;
    padding: 20px 0 20px 0;
}
.container .images-part img{
    width: 635px;
    padding: 10px 0 0 0;
}




.container .Flower-part-head{
    text-align: center;
    margin: 0 auto;
    padding: 178px 0 20px 0 ;
}

.container .Flower-part-head h1{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
.container .Flower-part-head p{
    width: 594px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);

}

.container .flower-part{
    display: flex;
}
.container .flower-tree{
    width: 464px;
    border-radius: 300px 300px 0px 0px;
    margin: 0 24px 0 0;
}
.container .flower-tree img{
    width: 314px;
    height: 471px;
    padding: 110px  78px 0 78px;
}
.container .pink{
    background: rgba(167, 33, 98, 0.15);
}
.container .sky{
    background: rgba(5, 151, 160, 0.15);

}
.container .simple-black{
    background: rgba(71, 125, 17, 0.15);

}
.container h3{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 20px;
    color: black;
}
.container .delivery{
  width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(39, 39, 39, 0.05);
}


.container .delivery .support{
    text-align: center;
    ;
}
.container .delivery .support img{
    width: 88px;
    height: 88px;
    padding: 80px 40px 0 80px
    
}
.container .delivery .support p{
    text-align: center;
    padding: 0 5px 87px 75px;
}
